= javascript_include_tag "jquery.rating.js"

= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")}:"
      %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg

  = f.hidden_field :parent_id

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :description
    %br
    = f.text_area :description

  .field
    = f.label :completion
    %br
    = rating_tags("task[completion]", Task.completion_options, @task.completion)
    %br

  .field
    = f.label :estimate
    %br
    = rating_tags("task[estimate]", Task.estimate_options, @task.estimate)
    %br

  .field
    = f.label :importance
    %br
    = rating_tags("task[importance]", Task.importance_options, @task.importance)
    %br

  .field
    = f.label :urgency
    %br
    = rating_tags("task[urgency]", Task.urgency_options, @task.urgency)
    %br

  .actions
    = f.submit
