<p id="notice"><%= notice %></p>

<%= nested_tasks(@task.subtree.arrange) %>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Completion:</b>
  <%= @task.completion %>
</p>

<p>
  <b>Estimate:</b>
  <%= @task.estimate %>
</p>

<p>
  <b>Importance:</b>
  <%= @task.importance %>
</p>

<p>
  <b>Urgency:</b>
  <%= @task.urgency %>
</p>

<p>
  <b>Ancestry:</b>
  <%= @task.ancestry %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
